.contact-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-rows: 20vh 80vh;
    max-height: 100vh;
}

.contact-layout {
    margin: 20px;
    max-height: calc(100vh - 20vh);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 2;
    z-index: 600;
}

.contact-description {
    height: 100%;
    padding: 20px;
    max-height: 90%;
    display: flex; /* Attiva Flexbox */
    justify-content: center; /* Centra orizzontalmente */
    align-items: center; /* Centra verticalmente */
}

/* Begin Right Contact Page */
.direct-contact-container {
    max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
}

.list-item {
    line-height: 4;
    color: rgba(255, 255, 255, 1);
}

.contact-text {
    font: 300 18px 'Oswald', sans-serif;
    /*font: 300 18px 'Lato', sans-serif;*/
    letter-spacing: 1.9px;
}

.place {
    margin-left: 62px;
}

.phone {
    margin-left: 56px;
}

.gmail {
    margin-left: 53px;
}

.contact-text a {
    text-decoration: none;
    transition-duration: 0.2s;
}

.contact-text a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.social-media-list li a {
    color: rgba(255, 255, 255, 1);
}

.social-media-list li {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(35, 40, 43, 1);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 1);
    transition: all .2s ease-in-out;
}

.social-media-list li:hover {
    background-color: rgba(255, 255, 255, 1);
}

.social-media-list li:hover:after {
    opacity: 1;
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.social-media-list li:hover a {
    color: rgba(35, 40, 43, 1);
}

.copyright {
    font: 200 14px 'Oswald', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

.contact-form {
    width: 100%;
    max-width: 400px; /* Limita la larghezza del form */
    padding: 20px;
    background-color: rgba(35, 40, 43, 0.6); /* Sfondo del form */
    border-radius: 8px; /* Angoli arrotondati */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Effetto ombra */
}

.feedback-input {
    color: rgba(255, 255, 255, 1);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .6);
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid rgba(255, 255, 255, 1);
}

[type="submit"] {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

[type="submit"]:hover {
    background: rgba(255, 255, 255, 1);
}

@media (max-width: 769px) {
    .contact-layout {
        display: flex; /* Cambia da grid a flex */
        flex-direction: column; /* Imposta gli elementi in colonna */
        align-items: center; /* Centra gli elementi */
        margin: 20px 0; /* Spaziatura verticale */
    }

    .contact-description, .contact-form {
        max-width: 50%; /* Imposta la larghezza al 100% */
        padding: 10px; /* Aggiungi un po' di padding per spaziatura */
    }

    .direct-contact-container {
        margin-bottom: 20px; /* Aggiungi spazio sotto */
    }

}




