/* Stile dell'header */
header {
    position: fixed; /* Rende l'header fisso */
    top: 0;
    left: 0;
    width: 100%; /* Occupa tutta la larghezza */
    background-color: black;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Aggiunge un'ombra */
    z-index: 1000; /* Assicura che l'header sia sopra gli altri elementi */
    height: 100px;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Stile del contenitore nav */
header nav {
    display: flex;
    align-items: flex-end; /* Allinea tutto alla base dell'immagine */
    gap: 10px; /* Spaziatura tra gli elementi */
}

/* Stile degli anchor nel header */
header nav a {
    color: white;
    font: 300 40px 'Oswald', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 6px;
}

header nav p {
    color: white;
    font: 300 20px 'Oswald', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 6px;
}

header nav a:hover {
    text-decoration: underline;
}

/* Stile per l'immagine */
header nav img {
    max-width: 70px;
    height: auto;
}

/* Stile del footer */
footer {
    bottom: 0;
    left: 0;
    width: 100%; /* Occupa tutta la larghezza */
    background-color: black;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Aggiunge un'ombra */
    z-index: 1000; /* Assicura che il footer sia sopra gli altri elementi */
    display: flex;
    justify-content: center;
}

/* Stile della navigazione nel footer */
footer span {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
    margin: 0 10px;
}

/* Stile del main */
main {
    display: flex;
    flex-direction: column; /* Organizza i div in colonna */
}

main > section {
    height: 100vh; /* Ogni sezione occupa l'altezza della finestra */
    display: flex;
    /*border-bottom: 1px solid #ccc;*/
    /*border-radius: 5px;*/

}

#Home {
    justify-content: center;
    align-items: center;
}

/*!* Responsive design per dispositivi più piccoli *!*/
/*@media (max-width: 600px) {*/
/*    header, footer {*/
/*        padding: 10px;*/
/*        text-align: center;*/
/*    }*/

/*    header nav a, footer nav a {*/
/*        display: block;*/
/*        margin: 5px 0;*/
/*    }*/

/*    main > div {*/
/*        font-size: 1.5rem;*/
/*    }*/
/*}*/

.divider {
    height: 2px;
    width: 80%;
    background: linear-gradient(90deg, hsl(0, 0%, 20%), hsl(0, 0%, 50%), hsl(0, 0%, 70%), hsl(0, 0%, 20%));
    margin: 0 auto; /* Centra orizzontalmente */
}

.slide-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Allinea l'immagine al centro orizzontalmente */
    align-items: center; /* Allinea l'immagine al centro verticalmente */
}

.slide-container .slide {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Effetto di dissolvenza */
}

.slide.active {
    display: block;
    opacity: 1;
}

.slide-container .slide .item {
    width: 100%; /* Occupa tutta la larghezza del container */
    height: 100%; /* Occupa tutta l'altezza del container */
    background-size: cover; /* L'immagine copre interamente il container */
    background-position: center; /* Centra l'immagine */
    background-repeat: no-repeat; /* Evita la ripetizione dell'immagine */
}

.slide-gallery {
    display: flex;
    height: 66%;
    width: 55%;
    z-index: 500;
    position: absolute;
    right: 0;

}

.slide-gallery .column:nth-child(1),
.slide-gallery .column:nth-child(2),
.slide-gallery .column:nth-child(3) {
    width: 33%;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    transform: translate(0, 15%);
}

.slide-gallery .column:nth-last-child(-n+2) {
    display: none;
}

.slide-container .slide .item .content {
    top: 50%;
    left:  10%;
    width: 35%;
    height: 50%;
    position: absolute;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    align-content: space-evenly;
}

.slide-container .slide .item .content .title {
    position: absolute;
    color: #d4edda;
    text-shadow: 0 30px 50px #505050;
    animation: fadeIn 3s forwards;
    grid-row: 1;
}

.slide-container .slide .item .content .description {
    position: absolute;
    font-size: 32px;
    color: #d4edda;
    text-shadow: 0 30px 50px #505050;
    animation: fadeIn 5s forwards;
    grid-row: 2;
}

.button {
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 0.7em 1.7em;
    text-align: center;
    font-size: 16px;
    opacity: 1;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 15px 25px #505050;
    z-index: 50;
    position: relative;
}

.content .button {
    position: absolute;
    grid-row: 3;
}

.button:hover {
    opacity: 0.6;
}

.slide-cursor {
    position: absolute;
    z-index: 600;
    justify-content: center;
    bottom: 10px;
}


/* Animazione generale per fade-in */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}